@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --headerRight-color: ;
    --mainRight-color: ;
    --mainLeft-color: ;
}

body {
    background-color: #f1f1f1;
}

header {
    padding: 1.4em;
    background-color: cadetblue;
    display: flex;
    min-height: 15vh;
}

.headerRight {
    animation-name: var(--headerRight-color);
    animation-duration: 4s;
    }

main {
    min-height: 60vh;
    overflow: auto;
    padding: 2em;
    display: flex;
}

.mainLeft, .mainRight {
    margin: 0.5rem;
    padding: 0.7rem;
}
.mainLeft {
    animation-name: var(--mainLeft-color);
    animation-duration: 4s; 
    width: 30vw;
}
.mainRight {
    animation-name: var(--mainRight-color);
    animation-duration: 4s;
    width: 70vw;
}

footer {
    min-height: 3rem;
    background-color: chocolate;
}

#loadBookButton, #changeLibraryButton, #addBookButton {
    margin: 2.3em;
    padding: 0.5em;
}

.bookCard {
    padding: 0.7rem;
    margin-bottom: 1.3rem;
}

.bookCard button {
    margin-top: 1rem;
    padding: 0.5rem;
}



h2,h3 {
    padding: 0 0 0.5rem 0;
}

#addBookButton {
    display: block;
    margin: 1rem 0 1rem 0;
}


@keyframes warningBackground {
    0% {background-color: #f1f1f1;}
    50% {background-color: #ff0000;}
    100% {background-color: #f1f1f1;}
}

@keyframes successBackground {
    0% {background-color: #f1f1f1;}
    50% {background-color: #00ff00;}
    100% {background-color: #f1f1f1;}
}